<template name="postItem">
    <div class="post">
      <div class="post-content">
        <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
      </div>
      <a href="{{pathFor 'postPage' someOtherPost}}" class="discuss btn btn-default">Discuss</a>
    </div>
  </template>